body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 600px; 
    width: 100%;
    gap: 20px;
    background-color: #fff;
    padding: 32px;
    border-radius: 12px;
    margin: 60px auto 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
}

.input {
    padding: 12px 16px;
    border: 1px solid #d9cbfc;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    background-color: #f6f3fd;
}


.start-button {
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: not-allowed;
    background-color: #e9e4f5;
    color: #a391d6;
}

.start-button.active {
    background-color: #7e5ad8;
    color: white;
    cursor: pointer;
}